{% extends 'base.html' %}
{% block title %} Home  {% endblock %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
    .iconbox-bg-image {
    background-image: url('D:\DSML\TCS\LifeChek-main\home\static\images\footer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

</style>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'img/chatbot.png' %}" rel="icon">

    <!-- Google Fonts -->
    <!-- Google Fonts -->

    <!-- Vendor CSS Files -->
    <!-- <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %} " rel="stylesheet"> -->

    <!-- Template Main CSS File -->
    <!-- <link href="{% static 'css/style.css' %}" rel="stylesheet"> -->

    <!-- =======================================================
  * Template Name: Techie - v4.1.0
  * Template URL: https://bootstrapmade.com/techie-free-skin-bootstrap-3/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo"><a href="">Calmly</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img 
                
                src="assets/img/logo.png" alt="" class="img-fluid"></a> -->

                <nav class="navbar navbar-expand-lg navbar-light fixed-navi">
                    <div class="container">
                        <!-- logo -->
                        <!-- //logo -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-lg-auto">
                                <li class="nav-item active mt-lg-0 mt-3">
                                    <a class="nav-link" href="{% url 'home' %}">Home
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
    
                                <!-- NavBar for doctor when logged in -->
                                <li class="nav-item mx-lg-4">
                                    <a class="nav-link" href="{% url 'doctor' %}">Doctor</a>
                                </li>
                                {% if request.user.is_authenticated and request.user.role == 'doctor' %}
                                <a href="#">
                                    <i class="fal fa-user-cog" style="color: rgb(0, 0, 0); font-size: 30px;"></i>
                                </a>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        {{ request.user.first_name }}
                                    </a>
    <!--								<a href="#">-->
    <!--									<i class="fal fa-user-cog" style="color: white; font-size: 30px;"></i>-->
    <!--								</a>-->
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    
                                        <a class="dropdown-item " href="{% url 'doctor-profile-update' %}">Profile</a>
                                        <a class="dropdown-item " href="{% url 'patient-list' %}">patient</a>
                                        <a class="dropdown-item " href="{% url 'display_all_patients' %}">patient-list</a>
                                        <a class="dropdown-item " href="{% url 'doctor-appointment' %}"> appointments</a>
                                        <a class="dropdown-item " href="{% url 'doctor-appointment-create' %}">create appointment</a>
                                        <a class="dropdown-item " href="{% url 'logout' %}">logout</a>
                                    </div>
                                </li>
                                <!-- login -->
    
                            {% elif request.user.is_authenticated and request.user.role == 'patient' %}
                            <!-- <li class="nav">
                                <a href="nav-link">  {{ request.user.first_name }}</a>
                            </li> -->
                            <li class="nav-item dropdown nav-item  mx-lg-3 my-lg-0 my-3">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Mental Health Prediction
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    
                                    <a class="dropdown-item " href="{% url 'quiz' %}">Mental Quiz </a>
                                    <a class="dropdown-item " href="{% url 'music' %}">Mental Peace Music</a>
                                </div>
                            </li>
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    {{ request.user.first_name }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    
                                    <a class="dropdown-item " href="{% url 'patient-profile-update' %}">profile</a>
                                    <a class="dropdown-item " href="{% url 'RelativeView' %}">personal guide</a>
                                    <a class="dropdown-item " href="{% url 'logout' %}">logout</a>
    
                                </div>
                            </li>
                            <!-- login -->
    
                        <!-- dropdown for registering doctor and patient -->
                        {% else %}
                        <li class="nav-item dropdown nav-item  mx-lg-3 my-lg-0 my-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Register
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    
                                <a class="dropdown-item " href="{% url 'doctor-register' %}">DOCTOR</a>
                                <a class="dropdown-item " href="{% url 'patient-register' %}">PATIENT</a>
                            </div>
                        </li>
                    </ul>
                            <a href="{% url 'login' %}" class="login-button ml-lg-5 mt-lg-0 mt-3 mb-lg-0 mb-3"  >
                                <i class="fas fa-sign-in-alt mr-2"></i>Login</a>
                            <!-- //login -->
                            {% endif %}
                        </div>
                    </div>
                </nav>            <!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container-fluid" data-aos="fade-up">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1>Mental Health Monitoring System</h1>
                    <div><a href="chatroom/" class="btn-get-started scrollto" >Chat with Calmly</a></div>
                </div>
                <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
                    <img src="{% static 'img/chatbot.png' %}" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->

    <main id="main">




        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Features</h2>

                </div>

                <div class="row gy-4">
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box iconbox-blue">
                            <div class="icon">
                                <a href="{% url 'mood' %}">
                                <img  src="{% static 'img/mood.jpg' %}" width="200" height="200" alt="Icon">
                                </a>
                            </div>
                            <br>
                            <h4><a href="{% url 'mood' %}">Mood Enhancement</a></h4>
                            <p>Calmly has unique set of conversation stories which helps in enhancing mood.</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-cherry iconbox-bg-image">
                            <div class="icon">
                                <a href="{% url 'streamlit' %}">
                                    <img  src="{% static 'img/invoice.jpg' %}" width="200" height="200" alt="Icon">
                                </a>                            
                            </div>
                            <br>
                            <h4><a href="{% url 'streamlit' %}">Invoice Generator</a></h4>
                            <p>This feature can be used to generate bills for hospital.</p>
                        </div>
                    </div>
                    

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box iconbox-orange">
                          <div class="icon">
                            <!-- <a href="{% url 'streamlit' %}"> -->
                                <img  src="{% static 'img/survey.jpg' %}" width="200" height="200" alt="Icon">
                            </a>                            
                          </div>
                          <br>
                          <h4><a href="">Quick Survey</a></h4>
                          <p>Calmly has a built-in set of models which will help the doctor to get more insights about you!</p>
                        </div>
                      </div>
                      

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-pink">
                            <div class="icon">
                                <img src="{% static 'img/storage.jpg' %}" width="200" height="200" alt="Icon">
                            </div>
                            <br>
                            <h4><a href="">Storage</a></h4>
                            <p>This feature can be used to track users condition as well as store things which user likes the most. </p>
                        </div>
                    </div>



                </div>
            </div>
        </section>


        <!-- ======= blogs Section ======= -->
        <section id="blogs">
            <div class="container" data-aos="fade-up">


                <div class="section-title">
                    <h2>Blogs</h2>
                </div>
                <div class="row gy-4">

                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch bg-image " data-aos="zoom-in" data-aos-delay="300">
                        <a href='https://medium.com/@iamalexmathers/7-quick-and-simple-relaxation-hacks-to-calm-you-instantly-adeaf26bccea'>
                            <div class="hvrbox">
                                <img class='blog1 img-fluid' src="{% static 'img/blog 1.jpg' %}">
                                <div class="hvrbox-layer_top">
                                    <div class="hvrbox-text">Click to read full article</div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                        <a href='https://medium.com/mindful-mental-health'>
                            <div class="hvrbox">
                                <img class='blog2 img-fluid' src="{% static 'img/blog 2.jpg' %}">
                                <div class="hvrbox-layer_top">
                                    <div class="hvrbox-text">Click to read full article</div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                        <a href='https://medium.com/@AshishNoelTirkey/lets-talk-about-mental-health-66a433f7d3c1'>
                            <div class="hvrbox">
                                <img class='blog3 img-fluid' src="{% static 'img/blog 3.jpg' %}">
                                <div class="hvrbox-layer_top">
                                    <div class="hvrbox-text">Click to read full article</div>
                                </div>
                            </div>
                        </a>
                    </div>



                </div>

            </div>





        </section>

        <!-- blogs Hero -->


        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">
                <div class="section-title">
                    <h2>About</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-4" data-aos="zoom-in" data-aos-delay="150">
                        <img src="{% static 'img/about.png' %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">

                        <p class="fst-italic">
                            Mental disorders are usually treated by pharmacotherapy or psychotherapy. However, there is a global shortage of human resources for delivering such mental health services. In developed countries there are nine psychiatrists per 100,000 people available,
                            while in developing countries there is one psychiatrist per ten million people.
                        </p>


                    </div>
                </div>

            </div>
        </section>
        <!-- End About Section -->




        <!-- Vendor JS Files -->
        <script src="{% static 'vendor/aos/aos.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
        <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

        <!-- Template Main JS File -->
        <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
</div>

</div>
</section>
<!-- End About Section -->


<!-- start  footer Section -->

<!-- End footer Section -->

<!-- Vendor JS Files -->
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>

</body>
{% endblock %}
</html>