{% extends 'base.html' %}
count = 1
{% block content %}
    <!-- banner 2 -->
    <div class="inner-banner-w3ls">
        <div class="container">
        </div>
    </div>
    <!-- //banner 2 -->

    {% for question in questions %}
        
        <p>{{ question.text }}</p>
        <form method="post">
            {% csrf_token %}
            {% for option in question.options %}
                <div>
                    <input type="radio" name="question_{{ question.id }}" id="{{ option }}" value="{{ option }}">
                    <label for="{{ option }}">{{ option }}</label>
                </div>
            {% endfor %}
        {% endfor %}
        <button type="submit">Submit</button>
        </form>
{% endblock %}
